body {
  background-color: #fff;
}
body * {
  font-family: 'Raleway', sans-sarif;
}
nav a {
  color: rgba(255, 255, 255, 0.6);
}
nav a:hover {
  color: #ffffff;
  transition: .5s ease;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
img {
  max-width: 600px;
  max-height: 600px;
}
#portfolio {
  text-align: center;
}
#portfolio a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  max-width: 75%;
  cursor: default;
}
#portfolio a #space-clones:hover {
  cursor: url(../images/space_clones_cursor.png), default;
}
#portfolio a #earshare:hover {
  cursor: url(../images/earshare_cursor.png), default;
}
#portfolio a:hover {
  text-decoration: none;
}
#portfolio #space-clones-link:hover {
  cursor: url(../images/space_clones_cursor.png), default;
}
#portfolio #earshare-link:hover {
  cursor: url(../images/earshare_cursor.png), default;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
p {
  margin-left: 14vw;
  margin-right: 14vw;
  text-align: justify;
  text-justify: inter-word;
}
section a {
  text-decoration: none;
}
section a:hover {
  text-decoration: none;
}
section h1,
section h2 {
  text-align: center;
}
.nav-link:hover {
  color: #ffffff;
  transition: .5s ease;
}
#headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  width: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright {
  text-align: center;
}
