body {
  background-color: #2A3663;
}
body * {
  font-family: 'Raleway', sans-sarif;
}
/* NAV */
nav {
  background-color: #000;
}
nav .navbar {
  color: #E02141;
  width: 100%;
}
nav * {
  color: #E02141;
}
nav * .nav-link:hover {
  color: #348899;
  transition: .5s ease;
}
nav a:hover {
  color: #348899;
  transition: .5s ease;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
/* TOGGLED DROP-DOWN ICON */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224, 33, 65, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52, 136, 153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transition: 0.5s ease;
}
/* MAIN */
.section {
  position: relative;
}
.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -56px;
  left: 0;
  visibility: hidden;
}
/* IMAGES */
#headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  width: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
img {
  max-width: 600px;
  max-height: 600px;
}
#portfolio {
  text-align: center;
}
#portfolio a {
  text-decoration: none;
  color: #E02141;
  display: inline-block;
  max-width: 75%;
  cursor: default;
}
#portfolio a #space-clones:hover {
  cursor: url(../images/space_clones_cursor.png), default;
}
#portfolio a #earshare:hover {
  cursor: url(../images/earshare_cursor.png), default;
}
#portfolio a:hover {
  text-decoration: none;
}
#portfolio #space-clones-link:hover {
  cursor: url(../images/space_clones_cursor.png), default;
  color: #348899;
  transition: 0.5s ease;
}
#portfolio #earshare-link:hover {
  cursor: url(../images/earshare_cursor.png), default;
  color: #348899;
  transition: 0.5s ease;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* TEXT */
p {
  margin-left: 14vw;
  margin-right: 14vw;
  text-align: justify;
  text-justify: inter-word;
}
section a {
  text-decoration: none;
}
section a:hover {
  text-decoration: none;
}
section h1,
section h2 {
  text-align: center;
  color: #E02141;
}
section p {
  color: #F2EBC7;
}
/* FOOTER */
#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright {
  text-align: center;
  color: #F2EBC7;
}
