/* COLOR VARIABLES */
$darkblue: #2A3663; 
$paleblue: #42559C; 
$lightblue: #348899;
$darkpurple: #3D2A4F;
$palepurple: #704E91; 
$red: #E02141;
$tan: #F2EBC7;

body {
  background: linear-gradient($darkblue, $darkpurple, $darkblue);
  padding-top: 57px;
  text-align: center;
  height: 100%;
  width: 100%;
  * {
    font-family: 'Raleway', sans-sarif;
  }
}

/* NAV */
nav {
  background-color: #000; 
  .navbar {
    color: $lightblue;
    width: 100%;
  }
  * {
    color: $red;

    .nav-link:hover {
      color: $lightblue;
      transition: 0.5s ease;
    }
  }
  a {
    &:hover {
      color: $lightblue;
      transition: 0.5s ease;
    }
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* PORTFOLIO DROPDOWN */
.dropdown-menu {
  background-color: #000;
}
.dropdown-item {
  background-color: #000;
  color: $red;
  &:hover {
    background-color: #000;
    color: $lightblue;
    transition: 0.5s ease;
  }
}
.dropdown-divider {
  border-top: 1px solid $lightblue !important;
}

/* TOGGLED DROP-DOWN ICON */
.custom-toggler .navbar-toggler-icon {
  /* I have to redraw SVG image to customize the color */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224, 33, 65, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52, 136, 153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transition: 0.5s ease;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

/* MAIN */
#contact {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section {
    position: relative;
}
hr.line-break {
    border: 0;
    height: 1px;
    margin-left: 14vw;
    margin-right: 14vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(224, 33, 65, 1), rgba(0, 0, 0, 0));
}
.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -176px;
    left: 0;
    visibility: hidden;
}

/* IMAGES */
#headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* 266 by 266px is the file size, so it shouldn't be any bigger than that */
  max-width: 266px;
  width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.contact {
  cursor: pointer;
  span {
    background-color: $red;
    border: 1px solid black;
    &:hover {
      border: 1px solid black;
      background-color: $lightblue;
      transition: 0.3s ease;
    }
  }

}
.spaceclones-cursor:hover{
  cursor: url(../images/cursors/space_clones_cursor.png), pointer;
}
.earshare-cursor:hover{
  cursor: url(../images/cursors/earshare_cursor.png), pointer;
}
.ems-cursor:hover {
  cursor: url(../images/cursors/ems_cursor.png), pointer;
}
.musiclog-cursor:hover {
  cursor: url(../images/cursors/musiclog_cursor.png), pointer;
}
.ethtrust-cursor:hover {
  cursor: url(../images/cursors/ethtrust_cursor.png), pointer;
}
#portfolio {
  text-align: center;
  a {
    text-decoration: none;
    color: $red;
    display: inline-block;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}
.img-fluid {
  max-width: 75vw;
  height: auto;
}

/* TEXT */
p {
  margin-left: 14vw;
  margin-right: 14vw;
    text-align: justify;
    text-justify: inter-word;
}
section {
  a {
    text-decoration: none;
    color: $red;
    /* this makes it so cursor goes straight to custom and not to pointer in between */
    cursor: default;
    &:hover {
      text-decoration: none;
      color: $lightblue;
      transition: 0.3s ease;
    }
  }
  h1,h2,h3{
    text-align: center;
    color: $red;
  }
  p {
    color: $tan;
  }
  // .skill-list p {
  //  text-align: center;
  // }
  img {
    width: 75vw;
    &:hover {
      opacity: 0.7;
      transition: 0.09s linear;
    }
  }
}

.project-title, .skill-title {
  color: $red;
  p {
    text-align: center;
  }
}
.skill-title, section h2 {
  font-weight: bold;
}

.tagline {
  color: $red;
  font-weight: bold;
  // text-decoration: underline;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $lightblue;
    transition: 0.3s ease;
  }
}

/* FOOTER */
#copyright {
  text-align: center;
  color: $tan;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.run-animation {
  position: relative;
  animation: fadeIn 3s forwards;
}

/* MEDIA QUERIES */
@media (max-width: 460px) {
  section {
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 24px;
    }
  }
  #title {
    font-size: 22px;
  }
  // .contact {

  // }
}
// fixes display of code languages when the window gets smaller; they become one column
@media (max-width: 450px) {
  // resetting a bootstrap class
  .row {
    display: block;
  }
}