body {
	background-color: #fff;
	* {
		font-family: 'Raleway', sans-sarif;
	}
}
nav {
	a {
		color: rgba(255, 255, 255, 0.6);
		&:hover {
			color: rgba(255, 255, 255, 1);
			transition: .5s ease;
		}
	}
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
img {
	max-width: 600px;
	max-height: 600px;
}

#portfolio {
	text-align: center;
	a {
		display: inline-block;
	}
}
.img-fluid {
	max-width: 75%;
	height: auto;
}
p {
	margin-left: 14vw;
	margin-right: 14vw;
    text-align: justify;
    text-justify: inter-word;
}

section {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	h1,h2 {
		text-align: center;
	}
}
// NAV
.nav-link {
	&:hover {
		color: rgba(255, 255, 255, 1);
		transition: .5s ease;
	}
}

#headshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
	width: 50%;
	border-radius: 50%;
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
}

#contact {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// FOOTER
#copyright {
	text-align: center;
}