body {
	background-color: #D1DDD0;
}
nav {
	a {
		color: rgba(255, 255, 255, 0.6);
		&:hover {
			color: rgba(255, 255, 255, 1);
			transition: .5s ease;
		}
	}
}
img {
	max-width: 600px;
	max-height: 600px;
}
#earshare, #space-clones, #project3, #project4 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
section {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	h1 {
		text-align: center;
	}
}
// NAV
.nav-link {
	&:hover {
		color: rgba(255, 255, 255, 1);
		transition: .5s ease;
	}
}

#profile * {
	display: inline;
}

#headshot {
	border-radius: 50%;
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
}

#contact {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// FOOTER
#copyright {
	text-align: center;
}