// $default-font: 'Lato', sans-sarif;
$default-font: 'Asul', sans-sarif;
$easing: cubic-bezier(.6, .05, .28, .91);

$darkblue: rgb(42, 54, 99);
$paleblue: #42559C; 
$lightblue: #95CFDB;
$darkpurple: rgb(80, 54, 99);
$palepurple: #704E91; 

$yellow: #FAFD51;

$red: #F64747;
$tan: #F2EBC7;
$black: #08080A;
$softblack: #292929;
$lightblack: #222;
$gray: rgb(82, 82, 82);
$softwhite: #f8f7f3;

$navHeight: 75px;