/* TEXT */
@import './variables.scss';
body {
    background: linear-gradient($darkblue, $darkpurple, $darkblue);
    background-color: $darkblue;
    // padding-top: 57px;
    text-align: center;
    * {
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: $default-font;
        font-weight: 200;
        letter-spacing: 0.6px;
    }
}
p {
    margin-left: 14vw;
    margin-right: 14vw;
    text-align: justify;
    text-justify: inter-word;
}
section {
    a {
        text-decoration: none;
        color: $red;
        cursor: pointer;
    }
    h1, h2, h3 {
        text-align: center;
        color: $red;
    }
    p {
        color: $tan;
    }
    img {
        width: 75vw;
        &:hover {
            opacity: 0.7;
            transition: 0.09s linear;
        }
    }
}
.link-hover {
    text-decoration: none;
    color: $lightblue;
    transition: 0.3s ease;
}
.section {
    position: relative;
}
img {
    vertical-align: middle;
    border-style: none;
}
.img-fluid {
    max-width: 75vw;
    height: auto;
}
h6 {
    text-align: center;
    color: #F2EBC7;
    font-size: 0.8rem;
}