/* TEXT */
@import './variables.scss';
body {
    background: linear-gradient($darkblue, $darkpurple, $darkblue);
    background-color: $darkblue;
    // padding-top: 57px;
    // text-align: center;
    * {
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: $default-font;
        font-weight: 200;
        letter-spacing: 0.6px;
    }
}
p {
    text-align: justify;
    text-justify: inter-word;
    margin-left: auto;
    max-width: 75vw;
    text-justify: inter-word;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: $red;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        color: $lightblue;
        transition: 0.2s ease;
    }
}
section {
    h1, h2, h3 {
        color: $red;
        text-align: center;
    }
    p {
        color: $tan;
    }
    img {
        width: 75vw;
        &:hover {
            opacity: 0.7;
            transition: 0.09s linear;
        }
    }
}
h1 {
    font-size: 38px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
}
h6 {
    color: #F2EBC7;
    font-size: 0.8rem;
}

// CLASSES
.link-hover {
    text-decoration: none;
    color: $lightblue !important;
    transition: 0.2s ease;
}
.img-fluid {
    max-width: 75vw;
    height: auto;
}
.bold {
    font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 460px) {
    section {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 22px;
        }
    }
    #title {
        font-size: 22px;
    }
}