/* TEXT */
@import './variables.scss';
body {
    margin: 0;
    background-color: $softblack;
    transition: padding 400ms $easing;
    * {
        box-sizing: border-box;
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: $default-font;
        font-weight: 200;
        letter-spacing: 0.6px;
        &:focus {
            outline: $yellow dotted 2px;
        }
    }
}
body.active {
    padding-top: $navHeight;
}
p {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 75vw;
}
a {
    text-decoration: none;
    color: $red;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        color: $lightblue;
        transition: 0.2s ease;
    }
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black;
    width: 100vw;
    z-index: 100;
    height: $navHeight;
    h1, h2, h3, h4, h5, h6 {
        color: $red;
        text-align: center;
    }
    h2 {
        margin-top: 10px;
    }
    h4 {
        margin-top: 3px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        line-height: 1.5em;
        padding-left: 1em;
        color: $red;
        display: flex;
        height: 100%;
        margin-right: 100px;
        justify-content: flex-end;
    }
    li {
        margin: 0 10px;
        display: flex;
        a {
            margin: auto 0px;
        }
    }
}
section {
    h1, h2, h3 {
        color: $red;
        text-align: center;
    }
    p {
        color: $softwhite;
    }
    // img {
    //     &:hover {
    //         opacity: 0.7;
    //         transition: opacity 0.09s linear;
    //     }
    // }
    form {
        legend {
            color: $red;
            font-weight: bold;
        }
        color: $softwhite;
    }
}
h1 {
    font-size: 38px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
    font-weight: bold;
}
h6 {
    color: $softwhite;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 7px;
}

// CLASSES
.disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}
.link-hover {
    text-decoration: none;
    color: $lightblue !important;
    transition: 0.2s ease;
}
.img-fluid {
    max-width: 75vw;
    height: auto;
}
.bold {
    font-weight: bold;
}
.highlighted {
    color: $lightblue;
}

/* MEDIA QUERIES */

$XL: 900px;
$L: 650px;
$M: 550px;
$S: 425px;

$img-XXL: 650px;
$img-XL: 425px;
$img-L: 325px;
$img-M: 250px;
$img-S: 210px;

$form-XXL: 550px;
$form-XL: 450px;
$form-L: 350px;
$form-M: 250px;
$form-S: 210px;

$p-XXL: 22px;
$p-XL: 19px;

$a-M: 18px;

$h1-XL: 36px;
$h1-L: 32px;
$h1-S: 27px;

$h2-XL: 27px;
$h2-L: 24px;
$h2-S: 19px;

$h3-XL: 22px;
$h3-L: 19px;
$h3-M: 17px;
$h3-S: 17px;

@media (min-width: $XL) {
    p {
        font-size: $p-XXL;
    }
    img {
        max-width: $img-XXL;
    }
    form {
        max-width: $form-XXL;
        div {
            max-width: calc(#{$form-XXL} - 20px);
        }
    }
}
@media (max-width: $XL) {
    p {
        font-size: $p-XL;
    }
    h1 {
        font-size: $h1-XL;
    }
    h2 {
        font-size: $h2-XL;
    }
    h3 {
        font-size: $h3-XL;
    }
    img {
        max-width: $img-XL;
    }
    form {
        max-width: $form-XL;
        div {
            max-width: calc(#{$form-XL} - 20px);
        }
    }
}
@media (max-width: $L) {
    h1 {
        font-size: $h1-L;
    }
    h2 {
        font-size: $h2-L;
    }
    h3 {
        font-size: $h3-L;
    }
    img {
        max-width: $img-L;
    }
    form {
        max-width: $form-L;
        div {
            max-width: calc(#{$form-L} - 20px);
        }
    }
}
@media (max-width: $M) {
    h3 {
        font-size: $h3-M;
    }
    nav a {
        font-size: $a-M !important;
    }
    img {
        max-width: $img-M;
    }
    form {
        max-width: $form-M;
        div {
            max-width: calc(#{$form-M} - 20px);
        }
    }
}
@media (max-width: $S) {
    h1 {
        font-size: $h1-S;
    }
    h2 {
        font-size: $h2-S;
    }
    h3 {
        font-size: $h3-S;
    }
    img {
        max-width: $img-S;
    }
    form {
        max-width: $form-S;
        div {
            max-width: calc(#{$form-S} - 20px);
        }
    }
}